﻿@model Eva3.Models.Calzado



<h1>Comprado</h1>

<div>
    <h4>Calzado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCalzado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoCalzado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockCalzado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockCalzado)
        </dd>
    </dl>
</div>
<div>   
    <a asp-action="Index">Back to List</a>
</div>

