﻿@model Eva3.Models.Calzado

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Calzado</h1>

<h3>¿Estás seguro de que quieres borrar esto?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            Tipo Calzado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCalzado)
        </dd>
        <dt class = "col-sm-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class = "col-sm-2">
            Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockCalzado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CalzadoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
    </form>
</div>
