﻿@model Eva3.Models.Calzado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Calzado</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            Tipo Calzado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCalzado)
        </dd>
        <dt class = "col-sm-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class = "col-sm-2">
            Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockCalzado)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CalzadoId">Editar</a> 
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
</div>
