﻿@model Eva3.Models.Calzado

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Calzado</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CalzadoId" />
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label">Nombre Producto</label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCalzado" class="control-label">Tipo Calzado</label>
                <input asp-for="TipoCalzado" class="form-control" />
                <span asp-validation-for="TipoCalzado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProducto" class="control-label">Precio</label>
                <input asp-for="PrecioProducto" class="form-control" />
                <span asp-validation-for="PrecioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockCalzado" class="control-label">Stock</label>
                <input asp-for="StockCalzado" class="form-control" />
                <span asp-validation-for="StockCalzado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
