﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Eva3.Models.Calzado>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>
@if (SignInManager.IsSignedIn(User)) { 
    <p>
        <a asp-action="Create">Agregar Producto</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre 
            </th>
            <th>
                Tipo de Calzado
            </th>
            <th>
                Precio
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCalzado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CalzadoId">Editar</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.CalzadoId">Ver Detalles</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CalzadoId">Eliminar</a>
                </td>
 }
            else
            {
        <td>
            <a class="btn btn-success" asp-action="Comprado" asp-route-id="@item.CalzadoId">Comprar</a>
           
            <a class="btn btn-primary"asp-action="Details" asp-route-id="@item.CalzadoId">Ver Detalles</a> 
        </td>

            }
        </tr>
        }
    </tbody>
</table>
