﻿@{
    ViewData["Title"] = "Home Page";
}
@model Eva3.Models.ClaseStatic

<style>
    img{
        border-radius: 15px;
    }
</style>

<div class="text-center">
    <br />
    <h1>BIENVENIDO</h1>
    <br />
    
 <section class="row">
     
     <div class="col-sm-6">
         <img class="img-fluid" src="~/imagenes/quienes somos.jpg" />
     </div>
     <div class="col-sm-6">
         <h2>¿Quiénes somos?</h2>
         <p>@ClaseStatic.inicio()</p>
     </div>
 </section>
</div>
