﻿@model Eva3.Models.Material

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Material</h1>

<h3>¿Estás seguro de que quieres borrar esto?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo Material
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialTipo)
        </dd>
        <dt class = "col-sm-2">
            Costo Material
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCosto)
        </dd>
        <dt class = "col-sm-2">
            Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMaterial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaterialId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
    </form>
</div>
