﻿@model Eva3.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de Material</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo Material
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialTipo)
        </dd>
        <dt class = "col-sm-2">
            Costo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCosto)
        </dd>
        <dt class = "col-sm-2">
            Stock
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMaterial)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.MaterialId">Editar</a> 
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
</div>
