﻿@model Eva3.Models.Material

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Material</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaterialId" />
            <div class="form-group">
                <label asp-for="MaterialTipo" class="control-label">Tipo de Material</label>
                <input asp-for="MaterialTipo" class="form-control" />
                <span asp-validation-for="MaterialTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialCosto" class="control-label">Costo de Material</label>
                <input asp-for="MaterialCosto" class="form-control" />
                <span asp-validation-for="MaterialCosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMaterial" class="control-label">Stock</label>
                <input asp-for="StockMaterial" class="form-control" />
                <span asp-validation-for="StockMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
