﻿@model IEnumerable<Eva3.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Materiales</h1>

<p>
    <a asp-action="Create">Agregar Material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Material
            </th>
            <th>
                Costo del Material
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialCosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMaterial)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MaterialId">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MaterialId">Ver Detalles</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MaterialId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
