﻿@model IEnumerable<Eva3.Models.Reparacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Reparaciones</h1>

<p>
    <a asp-action="Create">Agregar Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            
            <th>
                Estado
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCalzado)
            </td>
            
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ReparacionId">Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ReparacionId">Ver Detalles</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ReparacionId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
