﻿@model Eva3.Models.Formulario

@{
    ViewData["Title"] = "Create";
}

<h1>Formulario de contacto</h1>


<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label">Nombre</label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Asunto" class="control-label"></label>
                    <input asp-for="Asunto" class="form-control" />
                    <span asp-validation-for="Asunto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mensaje" class="control-label"></label>
                    <textarea asp-for="Mensaje" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Mensaje" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
