﻿@model IEnumerable<Eva3.Models.Formulario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de mensajes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FormularioId">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.FormularioId">Ver Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FormularioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
